XDEBUG_MODE=off
COMMERCE_EDITION=magento/project-enterprise-edition
DEPLOY_MODE=production
COMPOSER_REQUIRES=magento/module-commerce-backend-uix
COMPOSER_AUTH={}
IMS_ORG_ID=118765E655DEE7427F000101@AdobeOrg
IMS_CLIENT_ID=9de16a39c860436fac9208e0532e9806
IMS_CLIENT_SECRET=
IMS_2FA_ENABLED=yes